/* @font-face {
  font-family: "font";
  font-weight: 400;
  font-style: normal;
  src: url(""),
    url("");
  font-display: swap;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*[class$="link"] {
  color: inherit;
  text-decoration: none;
}

*[class$="heading"] {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading {
  text-transform: uppercase;
}

.text {
  margin: 0;
}

*:focus:not(:active) {
  outline: 1px solid tomato;
  outline-offset: 2px;
}

.heading {
  text-transform: uppercase;
}

.button {
  position: relative;
  padding: 20px;
  padding-left: 45px;
  /* color: #ffffff;
  background-color: #91aa59;
  border: 1px solid #ffffff;
  border-radius: 45px; */
}

/* Настройка сетки страниц паттерн  - "flex one column, sticky footer" */
.site {
  height: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.box-center {
  width: 1440px;
  margin: 0 auto;
}

.page {
  /* min-width: 1500px; */
  min-height: 100%;
  margin: 0;
  /* font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 1em;
  color: #101010;
  background-color: #ffffff; */
}

/*Вводная часть "Шапка"*/
.page-header {
outline: 1px solid tomato;
outline-offset: -1px;
}

/* Нижний колонтитул "Подвал сайта"*/
.page-footer {
outline: 1px solid tomato;
outline-offset: -1px;
}

/* Основное содержимое */
.page-content {
  flex-grow: 1;
}
